
    /* ================================= 
  Base Element Styles
==================================== */
    /* @import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One"); */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px black solid;
}
body {
  font-size:30px;
  font-weight: bold;
  text-align: center;
  padding: 4.5rem;
  margin: 0;
  background: #aed1f1;
  /* background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%); */
  font-family: 'Inter', sans-serif;
  text-align: center;
  
}

.card {
  text-align: left;
  width: 400px;
  height: auto;
  padding: 2rem;
  margin: 10rem 0;
  border-radius: 1rem;
  /* Apply semi-tranparent background color and blur using backdrop-filter */
  background: rgba(255, 255, 255, .6);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

.card-title {
  text-align: center;
  margin-top: 0;
  padding: .5rem;
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

p, a {
  font-size: 1rem;
}

a {
  color: #4d4ae8;
  text-decoration: none;
}
.shape {
  position: absolute;
  width: 600px;
  top: .5rem;
  left: .5rem;
}

.div {
  justify-self: center;
  margin: 20px 0;
  /* width: 300px; */
}
.starwars, 
.sword, 
.double, 
.shine,
.shadow {
  /* margin: 3rem;
  width: 300px; */
  /* text-align: center; */
  cursor:pointer;
}

div.morphing-6 {
   margin:50px 25px;
   padding:8px;
   box-shadow:0 0 0px 80px var(--c,#0000);
   background:var(--c,#0000);
  transition: 0.3s,box-shadow 0.3s 0.3s,background 0.3s 0.3s,color 0.3s 0.3s;
   clip-path: polygon(0 0,0 0,40% 0,45% 0,55% 0,60% 0,100% 0,100% 0,100% 50%,100% 100%,100% 100%,60% 100%,55% 100%,45% 100%,40% 100%,0 100%,0 100%,0 50%);
 }
 .morphing-6:hover {
  --c:#000;
  color:#fff;
  transition: 0.3s,clip-path 0.4s 0.3s; 
   clip-path: polygon(0 -90px,0 10%,30% 0,40% -20px,60% -20px,70% 0,100% 10%,100% -90px,calc(100% + 15px) 50%,100% calc(100% + 90px),100% 90%,70% 100%,60% calc(100% + 20px),40% calc(100% + 20px),30% 100%,0 90%,0 calc(100% + 90px),-20px 50%);
 }



 .morphing-5 {
   padding:8px;
   box-shadow:0 0 0px 80px var(--c,#0000);
   background:var(--c,#0000);
  transition: 0.3s,box-shadow 0.3s 0.3s,background 0.3s 0.3s,color 0.3s 0.3s;
   clip-path: polygon(0 0,10px 0,10px 0,100% 0,100% 50%,100% 100%,10px 100%,10px 100%,0 100%,0 calc(50% + 10px),0 calc(50% + 10px),0 calc(50% + 10px),0 calc(50% - 10px),0 calc(50% - 10px),0 calc(50% - 10px));
 }
 .morphing-5:hover {
  --c:#000;
  color:#fff;
  transition: 0.3s,clip-path 0.4s 0.3s; 
   clip-path: polygon(0 -20px,20px -30px,20px 0,calc(100% - 10px) 0,calc(100% + 20px) 50%,calc(100% - 10px) 100%,20px 100%,20px calc(100% + 30px),0 calc(100% + 20px),0 calc(50% + 10px),-35px calc(50% + 10px),-40px calc(50% + 15px),-40px calc(50% - 15px),-35px calc(50% - 10px),0 calc(50% - 10px))
 }

 .double-6 {
   padding-bottom:8px;
   background:
    linear-gradient(currentColor 0 0) bottom 6px center,
    linear-gradient(currentColor 0 0) bottom left,
    linear-gradient(currentColor 0 0) bottom right;
   background-size:0 3px;
   background-repeat:no-repeat;
   transition:0.5s linear,background-position 0s 0.5s;
 }
.double-6:hover {
  background-size:100% 3px,50% 3px,50% 3px;
  background-position:bottom,bottom 6px left 0,bottom 6px right 0; 
 }

 .shining-6 {    
  background:
    radial-gradient(farthest-side,rgba(255, 233, 135, 0.6) calc(100% - 100px),#0000 ) center/0% 0% no-repeat
    #000;
    background-clip:text;
  -webkit-background-clip:text;
  transition:0.8s;
}
.shining-6:hover {  
  background-size:400px 400px;
 }

 .shinning-5 {   
  background:
    radial-gradient(farthest-side,#0000 ,rgba(255,204,135,0.6) calc(100% - 200px),#0000 ) center/0% 0% no-repeat
    #000;
  -webkit-background-clip:text;
  background-clip:text;
  transition:0s;
}
.shinning-5:hover {  
  background-size:1000px 1000px;
  transition:0.8s;
 }

.shadowed-2 {
   padding:8px;
  transition:0.5s;
 }
 .shadowed-2:hover {
   background-color:#000;
   color:#fff;
   filter:blur(5px);
 } 
 
 .shadowed-3 {
   padding:8px;
   box-shadow:
    0 0 0px #000 inset,
    0 0 0px #000;
   transition:0.5s;
 }
 .shadowed-3:hover {
   box-shadow:
    0 0 10px #000 inset,
    0 0 10px #000;
    border-radius: 10px;
 }

 .infinite-5 {    
  padding:8px;
  background:
    repeating-linear-gradient(180deg,#0000 0 2.5%,currentColor 0 5%  ,#0000 0 10%) top left    ,
    repeating-linear-gradient(-90deg,#0000 0 5%  ,currentColor 0 7.5%,#0000 0 10%) top right   ,
    repeating-linear-gradient(  0deg,#0000 0 7.5%,currentColor 0 10%                   ) bottom right,
    repeating-linear-gradient( 90deg,currentColor 0 2.5%,#0000 0 10%) bottom left ;
  background-size:3px 4000%,4000% 3px;
  background-repeat:no-repeat;
  transition:0s 9999s;
}
.infinite-5:hover {  
  background-position:bottom left,top left,top right,bottom right;
  transition:15s linear;
 }

  .color-4 {
  background:
    repeating-linear-gradient(90deg,
      red  0 calc(5%/11),
      darkblue 0 calc(10%/11),
      purple 0 calc(15%/11),
      gold 0 calc(20%/11),
      green 0 calc(25%/11)
      ) 
      left bottom/2000% 100%;
  color:#000;
  -webkit-background-clip:text;
  background-clip:text;
  transition:0s;
}
.color-4:hover {  
  color:#0000;
  background-position:bottom right;
  transition:10s steps(19),color 0s; 
 }

 .sliding-2 {
  width:11ch;
  text-shadow:11ch 0 0;
  box-shadow:0 40px currentColor;
  clip-path:polygon(0 0,100% 0,100% 100%,100% 100%,0 100%);
  transform-origin:bottom left;
  transition:0.5s linear,text-indent 0s;
}
.sliding-2:hover {  
  text-indent:-22ch;
  clip-path:polygon(0 0,100% 0,100% 100%,calc(100% - 2px) calc(100% + 21.5px),0 100%); 
  transform:rotate(-6deg);
  transition:0.4s linear,text-indent 0.5s 0.3s linear;
 }

 .rounded {
  padding-bottom: 8px;
  background:
    radial-gradient(circle closest-side, currentColor 80%, transparent) bottom /12px 12px no-repeat,
    radial-gradient(circle closest-side, currentColor 80%, transparent) bottom /12px 12px no-repeat,
    linear-gradient(currentColor 0 0) bottom left /var(--d, 0%) 12px no-repeat,
    linear-gradient(currentColor 0 0) bottom right/var(--d, 0%) 12px no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s;
}
.rounded:hover {
  --d: 100%;
  background-position: bottom left, bottom right;
  transition: 0.3s, background-size 0.3s 0.3s;
}

.fading-2 {
  background: 
     linear-gradient(transparent, black) 
     bottom /100% var(--d, 0) no-repeat;
  transition: 0.5s;
}
.fading-2:hover {
  --d: 12px;
}

.allsides-2 {
  background:
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
}
.allsides-2:hover {
  --d: 100%;
}

.allsides-3 {
  background:
    linear-gradient(currentColor 0 0) top,
    linear-gradient(currentColor 0 0) left,
    linear-gradient(currentColor 0 0) bottom,
    linear-gradient(currentColor 0 0) right;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
}
.allsides-3:hover {
  --d: 100%;
}

.allsides-6 {
  background:
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
}
.allsides-6:hover {
  --d: 20px;
}